
.view-blogposts.view-display-id-page_1 .views-row{
  border-bottom: 5px solid #4d4d4d;
  border-bottom: 5px solid rgba(77,77,77,.3);
  padding: 1rem;
  margin-bottom: 1rem;
}

.view-blogposts.view-display-id-page_1 .views-row:last-of-type{
  margin-bottom: 0;  
  border-bottom: 0;
}

.view-blogposts.view-display-id-page_1 .views-row .submitted, .blog .author{
  font-size: .7rem;
  color: #4d4d4d;
  color: rgba(77,77,77,.3);
}

.view-blogposts.view-display-id-page_1 .views-row h2 a{
  font-weight: bold;
  text-decoration: none;  
}

.view-blogposts.view-display-id-page_1 .links{
  display: block;
  text-align: right;  
}